
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-dark.svg" alt="">
			</a>
		</div>
		<div class="main-menu-wrap menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<a href="" class="btn-action-ico ico-close-small js-btn-close"></a>
				<ul class="menu">
					<li>
						<div class="submenu-outer-wrap">
							<a href="" class="btn-action-ico ico-settings js-menu-edit"></a>
							<a href="" class="btn-action-ico ico-ok js-menu-ok"></a>
							<a href="" class="btn-action-ico ico-close js-menu-close"></a>
							<ul class="submenu">
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu01-all" checked>
										<label for="menu01-all">
											<a href="">Projects</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-01" checked>
												<label for="menu01-01">
													<a href="">Mailing</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-02" checked>
												<label for="menu01-02">
													<a href="">Ingest</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-03" checked>
												<label for="menu01-03">
													<a href="">CRM</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-04" checked>
												<label for="menu01-04">
													<a href="">Addb</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-05" checked>
												<label for="menu01-05">
													<a href="">Transcoding cluster</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-06" checked>
												<label for="menu01-06">
													<a href="">Streaming</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-07" checked>
												<label for="menu01-07">
													<a href="">PTZ Camera Test</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-08" checked>
												<label for="menu01-08">
													<a href="">CRTC Channels Logger</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-09" checked>
												<label for="menu01-09">
													<a href="">Voice Detection</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-10" checked>
												<label for="menu01-10">
													<a href="">Calendar</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu01-11" checked>
												<label for="menu01-11">
													<a href="">NXTMeet 1.0</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu02-all" checked>
										<label for="menu02-all">
											<a href="">Web Player</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu02-01" checked>
												<label for="menu02-01">
													<a href="">Manage Web Players</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu02-02" checked>
												<label for="menu02-02">
													<a href="">Create Web Player</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu02-03" checked>
												<label for="menu02-03">
													<a href="">Monitoring security cameras</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu03-all" checked>
										<label for="menu03-all">
											<a href="">AP Occasional Use</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu03-01" checked>
												<label for="menu03-01">
													<a href="">AP Occasional Use Settings</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu03-02" checked>
												<label for="menu03-02">
													<a href="">Manage AP Occasional Use</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu04-all" checked>
										<label for="menu04-all">
											<a href="">AP</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-01" checked>
												<label for="menu04-01">
													<a href="">AP Dashboard</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-02" checked>
												<label for="menu04-02">
													<a href="">CDN Report</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-03" checked>
												<label for="menu04-03">
													<a href="">AP Clients</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-04" checked>
												<label for="menu04-04">
													<a href="">View all endpoints</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-05" checked>
												<label for="menu04-05">
													<a href="">Manage Replays</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-06" checked>
												<label for="menu04-06">
													<a href="">Manage Playout Items</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-07" checked>
												<label for="menu04-07">
													<a href="">Sdi Playout Errors Log</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-08" checked>
												<label for="menu04-08">
													<a href="">Slate details</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-09" checked>
												<label for="menu04-09">
													<a href="">Media Servers</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-10" checked>
												<label for="menu04-10">
													<a href="">CDN Profile Checker</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-11" checked>
												<label for="menu04-11">
													<a href="">Pricing Settings</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu04-12" checked>
												<label for="menu04-12">
													<a href="">Generate Invoice</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu05-all" checked>
										<label for="menu05-all">
											<a href="">AP Tests</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu05-01" checked>
												<label for="menu05-01">
													<a href="">View AP Streams</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu05-02" checked>
												<label for="menu05-02">
													<a href="">Test AP CDN</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu05-03" checked>
												<label for="menu05-03">
													<a href="">Manage AP CDN Links</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu06-all" checked>
										<label for="menu06-all">
											<a href="">Raspberry</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu06-01" checked>
												<label for="menu06-01">
													<a href="">Manage Raspberry Create new Raspberry</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu07-all" checked>
										<label for="menu07-all">
											<a href="">Mags</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu07-01" checked>
												<label for="menu07-01">
													<a href="">Manage Mags Create new Mag</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu08-all" checked>
										<label for="menu08-all">
											<a href="">Commercial Detection</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu08-01" checked>
												<label for="menu08-01">
													<a href="">Black detection</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu08-02" checked>
												<label for="menu08-02">
													<a href="">Manage black detection channels</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu08-03" checked>
												<label for="menu08-03">
													<a href="">Add new black detect channel Logo detection SCTELogger Commercial Playlist ADV Library</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu09-all" checked>
										<label for="menu09-all">
											<a href="">Export Web Stream</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu09-01" checked>
												<label for="menu09-01">
													<a href="">Manage Embed Link Create new Embed Link</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu10-all" checked>
										<label for="menu10-all">
											<a href="">Media</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu10-01" checked>
												<label for="menu10-01">
													<a href="">Media servers</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu10-02" checked>
												<label for="menu10-02">
													<a href="">Mpegts Input/Output</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu11-all" checked>
										<label for="menu11-all">
											<a href="">Mobile multiview</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu11-01" checked>
												<label for="menu11-01">
													<a href="">Manage multiview</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu11-02" checked>
												<label for="menu11-02">
													<a href="">Add new multiview</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu12-all" checked>
										<label for="menu12-all">
											<a href="">Video Hub</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu12-01" checked>
												<label for="menu12-01">
													<a href="">Manage Video Hubs Create new Video Hub</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu13-all" checked>
										<label for="menu13-all">
											<a href="">His Packetizers </a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu13-01" checked>
												<label for="menu13-01">
													<a href="">Create new His Packetizer</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
								<!--menu section-->
								<li>
									<div class="frm-select-menu menu-main">
										<input type="checkbox" id="menu14-all" checked>
										<label for="menu14-all">
											<a href="">Nextomeet</a>
										</label>
									</div>
									<ul>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu14-01" checked>
												<label for="menu14-01">
													<a href="">Manage Nextomeet Servers</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu14-02" checked>
												<label for="menu14-02">
													<a href="">Create new Nextomeet Server</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu14-03" checked>
												<label for="menu14-03">
													<a href="">Mana ge Nextomeet Rooms</a>
												</label>
											</div>
										</li>
										<li>
											<div class="frm-select-menu">
												<input type="checkbox" id="menu14-04" checked>
												<label for="menu14-04">
													<a href="">Create new Manage Nextomeet Room</a>
												</label>
											</div>
										</li>
									</ul>
								</li>
								<!--/menu section-->
							</ul>
						</div>
						<a href="" class="btn-menu">Node</a>
					</li>
					<li>
						<div class="submenu-outer-wrap"></div>
						<a href="" class="btn-menu">Applications</a>
					</li>
					<li>
						<div class="submenu-outer-wrap"></div>
						<a href="" class="btn-menu">Projects</a>
					</li>
					<li>
						<div class="submenu-outer-wrap"></div>
						<a href="" class="btn-menu">Playout</a>
					</li>
					<li>
						<div class="submenu-outer-wrap"></div>
						<a href="" class="btn-menu">Satellite</a>
					</li>
					<li>
						<div class="submenu-outer-wrap"></div>
						<a href="" class="btn-menu">Monitoring</a>
					</li>
					<li class="menu-search">
						<a href="" class="btn-action-ico ico-search"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="search-wrap">
			<a href="" class="btn-action-ico ico-search"></a>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap action-notify">
				<a href="" class="btn-action-ico ico-action button-count">
					<img src="./img/icons/notify.svg" alt="">
				</a>
			</div>
			<div class="action-wrap action-time">
				<a href="" class="btn-action-ico ico-action">
					<img src="./img/icons/time.svg" alt="">
				</a>
			</div>
			<div class="action-wrap action-user">
				<a href="" class="btn-action-user">
					<span class="elm-status st-online"></span>
					<span class="user-name">StevenQ</span>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->